@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body{ 
  /**background: url('../img/background.jpg'); 
  background-repeat: no-repeat;
  background-position:center;
  background-attachment:fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; **/
  background-color: white;
  color:#000;
}

p {
	color:#000;
	text-align:justify;
}

#nav-header{
height:50px;
width:1000px;
}

a{
	text-decoration: none;
	color:black;
}

#main_logo{
	margin-bottom:3%;
	margin-top:2%;
}

#navmenu{

list-style-type: none;
list-style-image: none;

color:black;

font-family: 'Source Sans Pro', arial;
font-size:13px;
font-weight: 900;
letter-spacing: 4px;
right:auto;
left:auto;
bottom:auto;
margin-left:10%;
}


#navmenu a{
text-decoration: none;
color:black;
}


/**Center Word**/

#block-content{
width:1000px;
height:60px;
margin-top:3%;
margin-bottom:;
left:auto;
right:auto;
padding-bottom:200px;


}

#block-text{
	font-family: 'Source Sans Pro', arial;
	color:black;
	-webkit-transition: 0.5s;
     -moz-transition: 0.5s;
     -o-transition: 0.5s;
     -ms-transition: 0.5s;
     transition: 0.5s;
     font-size:80px;
}

#block-text:hover{
text-shadow:4px 4px #2C85DE;
}


/**Main Content**/

h3 {
	text-align: left;
	color:#000;
}

.h3-fm {
	padding-left:40px;
}

h4 {
	text-align: left;
	color: #000;
	padding-left:40px;
}

.missionstatement-img {
	width:300px;
	padding-top:40px;
	float:left;
	vertical-align:middle;
}

.missionstatement {
	margin-left:400px;
}


.about-cont {
	width:1100px;
}

.ms-bg {
	padding-left:30px;
	padding-right:30px;
	padding-bottom:30px;
	padding-top:30px;
	background-color:#eee;
	margin-bottom:20px;
}

.fm-bg {
	padding-left:30px;
	padding-right:30px;
	padding-bottom:30px;
	padding-top:30px;
	background-color:#eee;
}

.foundingmember1 {
	padding-top:20px;
	float:left;
	width:500px;
}

.foundingmember2 {
	padding-top:20px;
	margin-left:550px;
}

.fm-content {
	padding-left:40px;
	padding-right:40px;
}

/* end content */

.md-close{
	background: #B0ACAD;
}

#footer{
	height:60px;
	width:40%;
	color:black;
	margin-top:7%;

}

#footer_text{
	/**margin-left:18%;**/
	font-size: 13px;
	text-align: center;
    vertical-align:middle;
    font-family: 'Source Sans Pro', arial;
	
}

#footer_text span{
	margin-right:50px;
	text-decoration: none;
}




	
}




}

}