@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body{ 
  /**background: url('../img/background.jpg'); 
  background-repeat: no-repeat;
  background-position:center;
  background-attachment:fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; **/
  background-color: white;
  color:#000;
}

p {
	color:#000;
	text-align:justify;
}

#nav-header{
height:50px;
width:1000px;
}

a{
	text-decoration: none;
	color:black;
}

#main_logo{
	margin-bottom:3%;
	margin-top:2%;
}

#navmenu{

list-style-type: none;
list-style-image: none;

color:black;

font-family: 'Source Sans Pro', arial;
font-size:13px;
font-weight: 900;
letter-spacing: 4px;
right:auto;
left:auto;
bottom:auto;
margin-left:10%;
}


#navmenu a{
text-decoration: none;
color:black;
}


/**Center Word**/

#block-content{
width:1000px;
height:60px;
margin-top:3%;
margin-bottom:;
left:auto;
right:auto;
padding-bottom:200px;


}

#block-text{
	font-family: 'Source Sans Pro', arial;
	color:black;
	-webkit-transition: 0.5s;
     -moz-transition: 0.5s;
     -o-transition: 0.5s;
     -ms-transition: 0.5s;
     transition: 0.5s;
     font-size:80px;
}

#block-text:hover{
text-shadow:4px 4px #2C85DE;
}


/**Main Content**/
h3 {
	text-align: left;
	color:#000;
}

h4 {
	text-align: left;
	color: #000;
	padding-left:40px;
}

.about-cont {
	width:1100px;
}

.left-col {
  min-height: 900px;
  width: 650px;
  position: relative;
  float: left;
}

.news-bg {
	margin: 0 0 20px 0;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:30px;
	padding-top:30px;
	background-color:#eee;
	width: 600px;
	float: left;
	position: relative;
}

.right-col {
  min-height: 900px;
  float: right;
  position: relative;
}

.connect-bg {
	margin: 0 0 20px 10px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:30px;
	padding-top:30px;
	background-color:#eee;
	height: auto;
	width: 440px;
}

.socicon {
  height: 50px;
  width: 50px;
}

.newrel-bg {
	margin: 0 0 20px 10px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:30px;
	padding-top:30px;
	background-color:#eee;
	width: 440px;
}

ts {
  padding: 2px;
}

.newrelalbum {
  height: 200px;
  width: 200px;
  padding: 3px;
}

.newartists-bg {
	margin: 0 0 20px 10px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:30px;
	padding-top:30px;
	background-color:#eee;
	width: 440px;
}


/* end content */

.md-close{
	background: #B0ACAD;
}

#footer{
	margin: 10px;
	position: absolute;
	height:60px;
	width:40%;
	color:black;
	margin-top:7%;

}

#footer_text{
	/**margin-left:18%;**/
	font-size: 13px;
	text-align: center;
    vertical-align:middle;
    font-family: 'Source Sans Pro', arial;
	
}

#footer_text span{
	margin-right:50px;
	text-decoration: none;
}




	
}




}

}